[data-fs-category-section] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: var(--mobile);

  .infocard__container {
    max-width: 204px;
  }

  a {
    width: fit-content;
  }

  @media (max-width: 768px) {
    .infocard__container {
      max-width: 160px;

      .infocard__text {
        padding: 10px 15px;
        font-size: 0.8rem;
      }
    }
  }
}
