@import "src/styles/scaffold";

.cms-pdp {
  width: 100%;

  [data-fs-product-shelf-items],
  .classSection__title--content {
    max-width: 100%;
  }
}

.product-details {
  margin-top: var(--fs-spacing-3);

  [data-fs-out-of-stock] {
    margin-top: var(--fs-spacing-4);
  }

  [data-fs-accordion-item-button],
  [data-fs-accordion-item-panel] {
    padding-left: 0;
  }

  [data-fs-badge] {
    display: none;
  }

  [data-fs-product-settings-sticky="true"] {
    position: sticky;
    top: 1rem;
  }

  .wrapper {
    display: flex;

    &.layout__content {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.product-details__body {
  display: flex;
  flex-direction: column;
  row-gap: var(--fs-spacing-4);
  width: 100%;
  margin-top: var(--fs-spacing-3);

  @include media(">=notebook") {
    display: grid;
    grid-template-rows: repeat(4, minmax(0, max-content));
    grid-template-columns: repeat(12, 1fr);
    row-gap: 0;
    column-gap: var(--fs-spacing-4);
  }

  .react-simple-image-viewer__modal {
    width: 100vw;
    height: 100vh;

    .react-simple-image-viewer {
      &__next,
      &__previous {
        color: rgb(150 150 150);
      }
    }
  }
}

.product-details__content {
  margin-top: var(--fs-spacing-3);

  .product-details__description .text__title-subsection {
    margin-bottom: var(--fs-spacing-3);
  }

  @include media(">=notebook") {
    grid-column: span 8;
    margin-top: 0;
  }
}

.product-details__title {
  @include media(">=notebook") {
    grid-row: 1;
    grid-column: 8 / span 4;
  }

  @media screen and (min-width: 1600px) {
    grid-column: 9 / span 5;
  }

  [data-fs-product-title] {
    padding-top: 0;
  }
}

.product-details__settings {
  height: fit-content;

  [data-fs-sku-selector] {
    margin-bottom: var(--fs-spacing-4);

    &:last-of-type {
      margin-bottom: var(--fs-spacing-7);
    }
  }

  [data-fs-button-buy] {
    width: 100%;
  }

  [data-fs-price] {
    display: block;

    &[data-variant="spot"] {
      margin: 0;
      font-weight: var(--fs-text-weight-black);
    }
  }

  @include media(">=notebook") {
    max-width: 280px;
  }

  [data-product-card-installment] {
    padding: 0.5rem 0;
  }
}

.product-details__values {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: var(--fs-spacing-4);

  .product-details__prices {
    [data-variant="listing"] {
      font-size: 1rem;
    }

    [data-variant="spot"] {
      font-size: 2rem;
    }
  }

  .product-details__prices--badge {
    display: flex;
    align-items: center;

    [data-fs-badge] {
      position: unset;
      display: block;
      margin-left: 0.5rem;

      [data-fs-badge-wrapper] {
        background-color: var(--fs-color-badge-background);
        border-color: var(--fs-color-badge-background);

        span {
          font-size: 12px;
          font-weight: 700;
          color: #ffffff;
          text-transform: uppercase;
          letter-spacing: 0.02em;
        }
      }
    }
  }

  [data-fs-product-card-discount] {
    margin-bottom: 16px;

    [data-fs-product-card-discount-item] {
      width: fit-content;
      padding: 2px var(--fs-spacing-1);
      font-size: var(--fs-text-size-tiny);
      font-weight: 500;
      line-height: 16px;
      color: #ffffff;
      text-transform: uppercase;
      background-color: var(--fs-color-theme-3);
      border-radius: 10px;
    }
  }
}

.product-details__selector {
  @include media(">=notebook") {
    grid-row: 2;
    grid-column: 8 / span 4;
    padding: var(--fs-spacing-4) var(--fs-spacing-5);
  }

  @media screen and (min-width: 1600px) {
    grid-column: 9 / span 5;
  }
}
